/*Header************
*******************/

/* Navbar*/
.container {
    width: 90%;
    max-width: 900px;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

header {
    background: #f8f8f8;
    padding: 2em 0;
}

nav ul {
    list-style: none;
    padding: 0; 
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a { 
    text-decoration: none;
    color:#707070;
    font-weight: 700;
}

nav a:hover, nav a:focus {
    color: #1792d2;
    border-bottom: 2px solid #707070;
}

/*NavBar Typography*/
.subtitle {
    font-weight:700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}

.current-page {
    border-bottom: 1px solid #707070
}

/* NavBar Media Query****
/* switching the axis around...*/
@media (max-width: 675px) {
    

  .container-nav {
      flex-direction:column;
  }

  header {
    text-align: center;
  }
}

@media (max-width: 675px) {

    /* switching the axis around...*/
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: .5em 0;
    }
} 

/***Body************
********************/
img {
    max-width: 100%;
    display: block;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
}

/***Typography*****/
h1, h2, h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    margin-top: 0;
}

h1 {
    color: #143774;
    font-size: 2rem;
    margin: 0;
}

a:hover, a:focus {
    color: #143774;
}

strong {
    font-weight: 700;
}

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}

.article-title {
    font-size: 1.5rem;
}

.article-read-more, .article-info {
    font-size: .875rem;
    color: #1792D2;
    font-weight: 700;
    text-decoration: none;
}

.article-read-more:hover,
.article-read-more:focus{
    color: #143774;
    text-decoration: underline;
    font-weight: bolder;
}

.article-info {
    margin: 2em 0;
}

.article-body {
    color:#707070;
}

/***Layout********
******************/
.container {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    text-align: center;
}

/*With mobile first, you create everything as a mobile view and use
media queries to modify the arrangement*/

@media (min-width: 675px) { 
    .container-flex {
        flex-direction: row
    }

    main {
        width: 75%
    }

    aside {
        width: 20%;
    }

}

/*Articles*******
****************/
.article-featured {
    border-bottom:#707070 1px solid;
    padding: 1em;
    margin-bottom: 2em;
}

.article-recent {
    display:flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.article-recent-main {
    order: 2;
}

.article-recent-secondary {
    order: 1;
}